body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      padding: 20px;
      background-color: #111;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

input[type="file"] {
      margin: 20px;
      display: inline-block;
      padding: 12px;
      background-color: #2d89ef;
      color: white;
      text-decoration: none;
      border-radius: 5px;
}

.button {
      margin: 20px;
      display: inline-block;
      padding: 12px;
      background-color: #2d89ef;
      color: white;
      text-decoration: none;
      border-radius: 5px;
}

.button:hover {
      cursor: pointer;
      transform: scale(1.05);
      background-color: #1c62c4;
      transition: transform 0.2s;
}