body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color: #111;
      color: #ffffff
}

canvas {
      border: 1px solid #ffffff;
      margin-top: 10px;
}

input[type="file"] {
      margin-bottom: 10px;
}

#download {
      margin-top: 10px;
      display: inline-block;
      padding: 8px 12px;
      background-color: #2d89ef;
      color: white;
      text-decoration: none;
      border-radius: 5px;
}